body, main, footer {
    margin: auto;
    width: 100%;
    background: #dcdcdc;
    font-family: Arial;
    text-align: center;
    color: #cccccc;
    overflow-y: auto;
}

section {
    width: 80%;
    margin: auto;
}

.toc-holder {
    position: fixed;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-95%);
    z-index: 1;
    font-size: 1vw;
}

.toc-holder:hover {
    transition: transform 0.3s;
    transform: translateY(-50%) translateX(0%);
}

.toc-header, .toc-subheader {
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
    overflow-wrap: break-word;
    border-bottom: 0.2em solid #cccccc;
}

.toc-subheader {
    font-size: 0.8em;
    margin-left: 1em;
}

.nav-btn {
    display: block;
    padding: 0.5em;
    transition: 0.3s;
    background: #998811;
}

.nav-btn:hover {
    background: #ffffff;
    border-bottom: 0.2em solid #000000;
    color: #000000;
    cursor: pointer;
}

#to-top-btn {
    position: fixed;
    height: fit-content;
    width: fit-content;
    top: 80%;
    left: 92%;
    z-index: 1;
    font-size: 2vw;
    visibility: hidden;
    border: 0.2em solid;
    border-color: #000000;
    border-radius: 2em;
    text-decoration: none;
}

.holder-bg {
    background: #a31155;
}

.header-title {
    display: block;
    font-size: 4vw;
    margin: auto;
    padding: 1em;
}

.header-section {
    display: block;
    font-size: 2vw;
    margin: 1em auto;
    padding: 0.5em;
}

.subheader {
    display: block;
    font-size: 2vw;
    margin: 1em auto;
}

.article-contents {
    font-size: 1.1vw;
    color: #000000;
    text-align: justify;
}

