body, #form-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(222, 253, 241);
}

#form-registration {
    padding: 20px 25px;
    margin: 50px auto;
    max-width: 250px;
    border: 1px black solid;
}

.input-field, #btn-submit {
    border: 1.5px rgb(195, 205, 192) solid;
    margin: 5px 0px;
    padding: 5px;
}

#btn-submit {
    background: rgb(207, 231, 217);
    color: rgb(85, 141, 131);
}

#btn-submit:hover {
    background: rgb(85, 141, 61);
    color: rgb(207, 231, 217);
}

.input-field:hover {
    border: 1.5px rgb(121, 160, 107) solid;
}

