<article>
    <h1 id="-title" class="header-article holder-bg"></h1>
    <section>
        <h2 id="-problem">Казус</h2>
    </section>
    <section>
        <h2 id="-proposal">Предложение</h2>
    </section>
    <section>
        <h2 id="-structure">Структура</h2>
        <figure>
            <img src="img/.png" alt=" UML diagram"/>
            <figcaption>Фигура . UML Диаграма на шаблона <i><strong></strong></i>. <a href="#link">[]</a></figcaption>
        </figure>
        <ol>
            <li></li>
        </ol>
    </section>
    <section>
        <h2 id="-pros-cons">Плюсове и минуси</h2>
        <div class="pros-cons">
            <div class="pros-cons-col">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-plus"></i></li>
                </ul>
            </div>
            <div class="pros-cons-col">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-minus"></i></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 id="-code-sample">Примерна имплементация</h2>
        <figure class="sample-code">
            <button class="nav-btn copy-to-clipboard" title="Copy to Clipboard">Copy</button>
            <pre><code class="language-php"></code></pre>
            <figcaption>Код . Примерна имплементация на <i><strong></strong></i> в <i>PHP</i>. <a href="#link">[]</a></figcaption>
        </figure>
        <p>Изпълнението на горния код би трябвало да доведе до подобен изход:</p>
        <pre class="sample-output"><samp></samp></pre>
    </section>
</article>
