<article>
    <h1 id="-title" class="header-article holder-bg"></h1>
    <section>
        <h2 id="-problem">Казус</h2>
    </section>
    <section>
        <h2 id="-proposal">Предложение</h2>
    </section>
    <section>
        <h2 id="-structure">Структура</h2>
        <figure>
            <img src="img/.png" alt=""/>
            <figcaption> <a href="#link">[]</a></figcaption>
        </figure>
        <ol>
        </ol>
    </section>
    <section>
        <h2 id="-code-sample">Примерна имплементация</h2>
        <pre>
            <button class="nav-btn copy-to-clipboard" title="Copy to Clipboard">Copy</button>
            <code class="language-php">
            </code>
            <figcaption>Код . Примерна имплементация на <i></i>. <a href="#link">[]</a></figcaption>
        </pre>
        <p>Изпълнението на горния код би трябвало да доведе до следния изход:</p>
        <pre class="sample-output">
            <samp>
            </samp>
        </pre>
    </section>
</article>
